RegloginmvcWS/REGLOGINMVC/REGLOGINMVC/Connected Services/ServiceReference1/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50721/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50721/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50721/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_AddDbData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDbData" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddDbData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDbDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_verifyDbUser_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyDbUser" />
  </wsdl:message>
  <wsdl:message name="IMyService_verifyDbUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyDbUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_userDbDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:userDbDetails" />
  </wsdl:message>
  <wsdl:message name="IMyService_userDbDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:userDbDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_verifyDbEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyDbEmail" />
  </wsdl:message>
  <wsdl:message name="IMyService_verifyDbEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyDbEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IMyService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_editDbUser_InputMessage">
    <wsdl:part name="parameters" element="tns:editDbUser" />
  </wsdl:message>
  <wsdl:message name="IMyService_editDbUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:editDbUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="AddDbData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddDbData" message="tns:IMyService_AddDbData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddDbDataResponse" message="tns:IMyService_AddDbData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyDbUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/verifyDbUser" message="tns:IMyService_verifyDbUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/verifyDbUserResponse" message="tns:IMyService_verifyDbUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userDbDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/userDbDetails" message="tns:IMyService_userDbDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/userDbDetailsResponse" message="tns:IMyService_userDbDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyDbEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/verifyDbEmail" message="tns:IMyService_verifyDbEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/verifyDbEmailResponse" message="tns:IMyService_verifyDbEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/Edit" message="tns:IMyService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/EditResponse" message="tns:IMyService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editDbUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/editDbUser" message="tns:IMyService_editDbUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/editDbUserResponse" message="tns:IMyService_editDbUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDbData">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddDbData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyDbUser">
      <soap:operation soapAction="http://tempuri.org/IMyService/verifyDbUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userDbDetails">
      <soap:operation soapAction="http://tempuri.org/IMyService/userDbDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyDbEmail">
      <soap:operation soapAction="http://tempuri.org/IMyService/verifyDbEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IMyService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editDbUser">
      <soap:operation soapAction="http://tempuri.org/IMyService/editDbUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:50721/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>