RegloginmvcWS/REGLOGINMVC/REGLOGINMVC/Connected Services/ServiceReference1/MyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommonClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPersonalId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonClass" nillable="true" type="tns:CommonClass" />
  <xs:complexType name="ArrayOfCommonClass1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonClass1" nillable="true" type="tns:CommonClass1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommonClass1" nillable="true" type="tns:ArrayOfCommonClass1" />
  <xs:complexType name="CommonClass1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPersonalId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonClass1" nillable="true" type="tns:CommonClass1" />
</xs:schema>