RegloginmvcWS/REGLOGINMVC/REGLOGINMVC/Connected Services/ServiceReference1/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50721/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CustomModel" />
  <xs:element name="AddDbData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustomModel" minOccurs="0" name="custom" nillable="true" type="q1:CommonClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDbDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDbDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyDbUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CustomModel" minOccurs="0" name="c" nillable="true" type="q2:CommonClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyDbUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyDbUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userDbDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="userDbDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CustomModel" minOccurs="0" name="userDbDetailsResult" nillable="true" type="q3:ArrayOfCommonClass1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyDbEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyDbEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyDbEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CustomModel" minOccurs="0" name="EditResult" nillable="true" type="q4:ArrayOfCommonClass1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDbUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CustomModel" minOccurs="0" name="c" nillable="true" type="q5:CommonClass1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDbUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editDbUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>